.bn-cnt {
    width: 1600px;
    margin: auto;
    // padding-left: 3%;
    // padding-right: 3%;
}

.bonus-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-seemore {
    margin-left: calc((100% - 147px)/2);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border: none;
    border-radius: 40px;
    padding: 10px 30px;
    width: 147px;
    height: 47px;
    background-color: #5C67ED;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    color: #A4AAF8;
    font-weight: 500;
    font-size: 24px;
    line-height: 36.6px;
}

.bonus-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27.45px;
    color: #fff;
}

.bonus-btns {
    display: inline-flex;
}

.bonus-btn {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 156px;
    height: 47px;
    border: 2px solid #F7780F;
    border-radius: 30px;
    background-color: transparent;
}

.bonus-view {
    margin-right: 20px;
}

.align-left {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    gap: 30px;
    margin-top: 50px;
}

@media (max-width: 1040px) {
    .bn-cnt {
        width: 100%;
        margin: 0;
        padding: 0 1%;
    }
}

@media (max-width: 1599px) {
    .bn-cnt {
        width: calc(100% - 12.5rem);
        margin: auto;
        padding: 0;
    }
}

@media (max-width: 1479px) {
    .bn-cnt {
        padding: 0 1%;
    }
    .bonus-container {
        align-items: center;
    }

    .align-left {
        margin-bottom: 130px;
        align-self: center;
        align-items: center;
    }

    .align-left > h2 {
        margin: 0;
    }

    .align-left > span {
        text-align: center;
    }
}