<div class="filter-modal">
    <div class="filterOpener">
        <div class="casinoFilterCounter">
            <span>Casino Filter</span>
            <div class="filterCounter">
                <span>2</span>
                <img src="../../../../assets/counterX.svg" alt="increment">
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-open-modal" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="../../../../assets/dropdown.svg" alt="open Filter">
        </button>
    </div>

    <div class="modal modal-font-family" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose casino(s)</h4>
                    <button type="button" class="btn-position btn-close" data-bs-dismiss="modal" ></button>
                </div>
                @if (isFormLoaded) {
                  <form class="modal-body" [formGroup]="form">
                    <div formArrayName="params">
                      <div class="casinoCheckbox">
                        @for (casino of casinoes; track $index;) {
                          <div class="materialCheckbox">
                            <div>
                              <mat-checkbox labelPosition="before" class="modal-checkbox" [formControlName]="$index">
                                {{casino.name}} Casino
                              </mat-checkbox>
                            </div>
                          </div>
                        }
                      </div>
                      <div class="modalFooter">
                        <div class="optionButtons">
                          <button class="modalBtn" data-bs-dismiss="modal" (click)="clearFilters()">Clear Filters</button>
                          <button type="submit" class="modalBtn" data-bs-dismiss="modal" (click)="applyFilters()">Apply Filters</button>
                        </div>
                      </div>
                    </div>

                  </form>
                }
            </div>
        </div>
    </div>

<h2 class="available-header">Available Bonuses</h2>
<div class="available-bg">
    <div class="available" *ngFor="let casino of filteredCasinos">
        <div class="available-visual" >
            <div class="available-logo"><img [src]="casino.logo" alt="{{casino.name}}"></div>
            <div class="available-rating"><img [src]="casino.starRating" alt="{{casino.rating}}"></div>
        </div>
        <div class="available-container" >
            <h3>{{casino.bonusName}}</h3>
            <ul>
                <li>
                    <img src="../../../../assets/Package.svg" alt="">
                    <span>{{casino.bonusAmount}}</span>
                </li>
                <li>
                    <img src="../../../../assets/Package.svg" alt="">
                    <span>{{casino.bonusFreespins}}</span>
                </li>
                <li>
                    <img src="../../../../assets/Package.svg" alt="">
                    <span>{{casino.bonusMax}}</span>
                </li>
            </ul>
            <button class="available-btn"><a [href]="casino.link">Claim Bonus</a></button>
    </div>
</div>
