.available-bg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.available {
    width: 480px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 16px;
    background-color: var(--second-bg-color);
    border-radius: 10px;
}

.available:not(:nth-child(3n)) {
    margin-right: 80px;
}
  
.available-container { 
    color: #fff;
}

.available-visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 1rem;
}

.available-logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323082; 
    width: 8.25rem;
    height: 7.875rem;
    border-radius: 10px;
}

.available-rating { 
    margin-left: auto;
    margin-right: auto;
}

.available-container > h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

.available-container > ul {
    padding: 0;
}

.available-container > ul > li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.available-container > ul > li:not(:last-child) {
    margin-bottom: .625rem;
}

.available-btn {
    margin-top: 1.5625rem;
    background-color: #343374;
    border-radius: 32px;
    padding: .375rem 1.5rem;
    border: none;
}

.available-btn > a {
    text-decoration: none;
    font-weight: 700;
    font-style: 14px;
    line-height: 21px;
    color: #fff;;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 1.25rem;
}

.modal-header {
    background-color: #343374;
    border: none !important;
    border-radius: 0 !important;
}

.modal-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.btn-open-modal {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

.btn-close {
    margin: 0;
}

.btn-position {
    position: fixed;
    left: 66%;
}

.modalBtn {
    height: 2.75rem;
    border-radius: 32px;
    border: none;
    padding: .375rem 1.5rem;
    gap: .625rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #403F8E;
}

.optionButtons {
    display: inline-flex;
    gap: 3.125rem;
}

.modalFooter {
    display: flex;
    justify-content: center;
    background-color: #343374;
    padding: 10px;
}

.modal-body {
    padding: 0;
}

.checkbox-label {
    color: #fff;
}



// ::ng-deep { .mat-checkbox .mat-checkbox-frame .mdc-checkbox__native-control {
//     border-color: #fff;
// } }

::ng-deep {
    .mdc-form-field {
        color: #fff !important;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }

    .md-checkbox.md-checked.white .md-icon {
        background-color: #fff;
    }

    .mdc-checkbox__background {
        border-color: #fff !important;
        background-color: #fff !important;
    }

    .mat-mdc-checkbox {
        width: auto !important;
    }
}

.materialCheckbox {
    padding: 5px 20px;
}

.materialCheckbox:not(:first-child) {
    border-top: 1px solid #6f6ebd80 !important;
}

.casinoCheckbox {
    background-color: #4E4CAF;
}

.filterOpener {
    display: inline-flex;
    justify-content: space-between;
    width: 338px;
    height: 60px;
    border-radius: 8px;
    padding: 16px;
    background-color: #343374;
    color: #fff;
    position: absolute;
    top: 305px;
    right: 160px;
}



@media (max-width: 1599px) {
    .available {
        width: calc((100% - 6%) / 3);
    }

    .available:not(:nth-child(3n)) {
        margin-right: 3%;
    }
}

@media (max-width: 1479px) {
    .filterOpener {
        top: 420px;
        right: 38.5%;
    }

    .available {
        width: calc((100% - 10%) / 2);
    }

    .available-bg {
        justify-content: space-around;
    }
}

@media (max-width: 1040px) {
    .available {
        width: 100%;
    }

    .available:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .filterOpener {
        right: 31%;
    }
}

@media (max-width: 714px) {
    .filterOpener {
        top: 470px;
        right: 26%;
    }
}

.casinoFilterCounter {
    display: inline-flex;
    align-items: center;
}

.casinoFilterCounter > span {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.filterCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #1C1B43;
    padding: 4px 8px;
    border-radius: 15px;
    width: 44px;
    height: 22px;
    margin-left: 10px;
}

.available-header {
    margin-top: 50px;
}
