.available-bg {
    width: 1628px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.available {  
    display: grid;
    grid-template-columns: 132px 342.33px;
    grid-template-rows: 220px;
    gap: 15px 15px;
    grid-template-areas:
      "available-visual available-container";
    background-color: var(--second-bg-color);
    border-radius: 10px;
    width: 521.33px;
    height: 250px;
    padding: 16px;
    margin-bottom: 16px;
    margin-right: 32px;
}

.available:nth-child(3n) {
    margin-right: 0;
}
  
.available-visual { 
    grid-area: available-visual; 
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 132px; 
    grid-template-rows: 126px 22.29px; 
    gap: 10px 0px; 
    grid-template-areas: 
    "available-logo"
    "available-rating"; 
}
  
.available-container { 
    color: #fff;
    grid-area: available-container;
}

.available-logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: available-logo;
    background-color: #323082; 
    width: 132px;
    height: 126px;
    border-radius: 10px;
}
.available-rating { 
    grid-area: available-rating;
    margin-left: auto;
    margin-right: auto;
}

.available-container > h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

.available-container > ul {
    padding: 0;
}

.available-container > ul > li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.available-container > ul > li:not(:last-child) {
    margin-bottom: 10px;
}

.available-btn {
    margin-top: 25px;
    background-color: #343374;
    border-radius: 32px;
    padding: 6px 24px;
    border: none;
}

.available-btn > a {
    text-decoration: none;
    font-weight: 700;
    font-style: 14px;
    line-height: 21px;
    color: #fff;;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.modal-header {
    background-color: #343374;
    border: none !important;
    border-radius: 0 !important;
}

.modal-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.btn-open-modal {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

.btn-close {
    margin: 0;
}

.btn-position {
    position: fixed;
    left: 66%;
}

.modalBtn {
    width: auto             ;
    height: 44px;
    border-radius: 32px;
    border: none;
    padding: 6px 24px;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #403F8E;
}

.optionButtons {
    display: inline-flex;
    gap: 50px;
}

.modalFooter {
    display: flex;
    justify-content: center;
    background-color: #343374;
    padding: 10px;
}

.modal-body {
    padding: 0;
}

.materialCheckbox {
    padding: 5px 20px;
}

.materialCheckbox:not(:first-child) {
    border-top: 1px solid #6f6ebd80 !important;
}

.casinoCheckbox {
    background-color: #4E4CAF;
}

.filterOpener {
    display: inline-flex;
    justify-content: space-between;
    width: 338px;
    height: 60px;
    border-radius: 8px;
    padding: 16px;
    background-color: #343374;
    color: #fff;
    position: absolute;
    top: 290px;
    right: 200px;
}

.casinoFilterCounter {
    display: inline-flex;
    align-items: center;
}

.casinoFilterCounter > span {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.filterCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #1C1B43;
    padding: 4px 8px;
    border-radius: 15px;
    width: 44px;
    height: 22px;
    margin-left: 10px;
}

.available-header {
    margin-top: 50px;
}
