<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Write direct message to us
</button>
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose casino(s)</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" >
          <img src="../../../../assets/Vector.svg" alt="close Button">
        </button>
      </div>
      <div class="modal-body">
        <div class="casinoCheckbox" *ngFor="let casino of filteredCasinos">
          <mat-checkbox [(ngModel)]="selectedCasinos[casino.name]">
            {{casino.name}} Casino
          </mat-checkbox>
        </div>
        <div class="optionButtons">
          <button (click)="clearFilters()">Clear Filters</button>
          <button (click)="applyFilters()">Apply Filters</button>
        </div>
      </div>
    </div>
  </div>
</div>