<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">
    Write direct message to us
</button>
<div class="modal" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Write your message here and our managers will reach out to you!</h4>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" ></button>
        </div>
      <div class="modal-body">
        <form  action="">
            <fieldset class="modal-form">
              <input type="email" name="email" class="modalEmail" placeholder="Your email *" required>
              <input type="text" name="Topic" class="modalTopic" placeholder="Topic"> 
              <textarea class="modalMessage" name="Message" placeholder="Message *" required></textarea>
              <div class="modal-checkbox">
                <input type="checkbox" name="checkbox" id="modalCheckbox" class="modal-checkbox-ico" ngModel required>
              <label class="modal-checkbox-label" for="modalCheckbox">I agree with the processing of my personal data.</label>
              </div>
              <input type="submit" value="Send message" class="sendMessageBtn" data-bs-target="modalSuccess">
            </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>