.btn-primary {
    width: 18rem;
    height: 3.125rem;
    border-radius: 47px;
    border: 2px solid;
    border-color: #5C67ED;
    background-color: transparent;
}

.btn-close {
    width: 1.1644rem;
    height: 1.1644rem;
    color: #fff;;
    margin: 0;
}

.modal {
    color: #fff;
    transform: translateX(-10%);
    
}

.modal-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;

}

.modal-content {
    width: 59.25rem;
    height: 38.5rem;
    background-color: var(--second-bg-color); 
    border-radius: 37px;
}
// .modal-dialog {
//     width: 59.25rem;
//     height: 38.5rem;
//     position: relative;
//     pointer-events: none;
    
// }

.modal-header {
    display: flex;
    justify-content: center;
    border: none;
}

.modal-body {
    width: 59.25rem;
    height: 38.5rem;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

.modalEmail, .modalTopic, .modalMessage {
    height: 3.125rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    background-color: #343374;
    border: none;
    border-radius: 44px;
    padding-left: 2rem;
    padding-top: .7188rem;
    padding-bottom: .7188rem;
}

.modalMessage {
    height: 201px;
    resize: none;
    border-radius: 26px;
}

.modalEmail::placeholder,
.modalTopic::placeholder, 
.modalMessage::placeholder  {
    color: #fff;
    opacity: 1;
}

.modal-checkbox-label {
    margin-left: 20px;
}

.modal-checkbox-ico {
    width: 24px;
    height: 24px;
}

.sendMessageBtn {
    width: 196px;
    height: 47px;
    border-radius: 40px;
    padding: 10px, 30px, 10px, 30px;
    gap: 10px;
    color: #fff;
    background-color: #5C67ED;
    border: none;
}