<article class="recommended ">
    <div class="d-flex justify-center">
        <div class="main-info">
            <div class="main-info_adv">
                <h1>The best Online casinos 2023</h1>
                <p>We've compiled a list of our top recommended online casinos to help you <br> get started – so why wait? Check out our picks now and start winning big!</p>
                <ul class="main-about">
                    <li>
                        <img class="deco-item" src="../../../assets/medal.svg" alt="medal">
                        <span>Only licensed casinos!</span>
                    </li>
                    <li>
                        <img class="deco-item" src="../../../assets/game-svgrepo-com 1.svg" alt="gamepad">
                        <span>Best gaming providers</span>
                        </li>
                      <li>
                        <img class="deco-item" src="../../../assets/gift.svg" alt="gift">
                        <span>More than 60+ bonuses</span>
                    </li>
                </ul>
            </div>
            <div class="main-elephant">
                <img src="../../../assets/page2bgEl.svg" alt="elephant">
            </div>
        </div>
    </div>
    <div class="text-center">
        <app-recommended-list/>
    </div>
</article>