<div class="main-container">
    <section class="main-info">
        <div class="main-info_adv">
            <h1>The best Online casinos 2023</h1>
            <p>We've compiled a list of our top recommended online casinos to help you <br> get started – so why wait? Check out our picks now and start winning big!</p>
            <ul class="main-about">
                <li>
                    <img class="deco-item" src="../../../assets/medal.svg" alt="medal">
                    Only licensed casinos!</li>
                <li>
                    <img class="deco-item" src="../../../assets/game-svgrepo-com 1.svg" alt="gamepad">
                    Best gaming providers</li>
                <li>
                    <img class="deco-item" src="../../../assets/gift.svg" alt="gift">
                    More than 60+ bonuses</li>
            </ul>
        </div>
        <div class="main-elephant">
            <ul>
                <li>
                    <div class="info-ep first">
                        <img src="../../../assets/badge.svg" alt="badge">
                        <p class="text-container">More than 20+ <br> loyalty programs</p>
                    </div>
                </li>
                <li>
                    <div class="info-ep middle">
                        <img src="../../../assets/shooting-star.svg" alt="shooting-star">
                        <p class="text-container">Сasinos picked <br> by professionals</p>
                    </div>
                </li>
                <li>
                    <div class="info-ep last">
                        <img src="../../../assets/coins.svg" alt="coins">
                        <p class="text-container">Your favourite <br> payment methods</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <app-casino-list></app-casino-list>
    <app-recommended-list></app-recommended-list>
    <article class="casino-list">
    <div class="casino-list_container">
        <div class="notes">
            <h1 class="casino-select">How do we select the best casino?</h1>
            <ul class="casino-crt">
                <li class="casino-crt_list">
                    <img class="list-img" src="../../../assets/Star 13.svg" alt="star">
                    <span class="list-container"><b>Licensing and regulation:</b>  We are making sure the casino is licensed and regulated by a reputable authority.</span>
                </li>
                <li class="casino-crt_list">
                    <img class="list-img" src="../../../assets/Star 13.svg" alt="star">
                    <span class="list-container"><b>Safety and security:</b> Looking for casinos with SSL encryption and other security measures to keep your personal and financial information safe.</span>
                </li>
                <li class="casino-crt_list">
                    <img class="list-img" src="../../../assets/Star 13.svg" alt="star">
                    <span class="list-container"><b>Game selection:</b> We are searching for a casino with a wide variety of games that you enjoy, such as slots, table games, and live dealer games.</span>
                </li>
                <li class="casino-crt_list">
                    <img class="list-img" src="../../../assets/Star 13.svg" alt="star">
                    <span class="list-container"><b>Payment options:</b> We are looking for casinos that offer convenient and secure payment options for deposits and withdrawals.</span>
                </li>
                <li class="casino-crt_list">
                    <img class="list-img" src="../../../assets/Star 13.svg" alt="star">
                    <span class="list-container"><b>Bonuses and promotions:</b> We are choosing casinos with generous welcome bonuses and ongoing promotions and loyalty programs.</span>
                </li>
                <li class="casino-crt_list">
                    <img class="list-img" src="../../../assets/Star 13.svg" alt="star">
                    <span class="list-container"><b>Customer support:</b> We are making sure a casino has responsive and helpful customer support, available through multiple channels.</span>
                </li>
                <li class="casino-crt_list">
                    <img class="list-img_last" src="../../../assets/!.svg" alt="!">
                    <span class="list-container"><i>By considering these factors we are doing the research, so you can find the best online casino for your needs and preferences.</i></span>
                </li>
            </ul>
        </div>
        <img class="casino-img" src="../../../assets/bgElephant.svg" alt="elephant">
    </div>
</article>    
</div>