<div class="footer-bg">
    <div class="footer-container">
        <ul class="footer-list">
            <li class="list-item">Home</li>
            <li class="list-item">Casinos</li>
            <li class="list-item">Bonuses & Tournaments</li>
            <li class="list-item">Terms & Conditions</li>
            <li class="list-item">Privacy Policy</li>
        </ul>
    </div>
    <div class="support">
        <span>
            If you have any questions, please email us at 
            <a class="mail-link" href="support@3betup.com">support&#64;3betup.com</a>  
            or 
            <a class="mail-link" href="info@3betup.com">info&#64;3netup.com</a>
        </span>
        <app-modal class="modal-button"></app-modal>
    </div>
    <div class="subscription">
        <span>Stay updated on our last games <br> and bonuses with Three Bet Up</span>
        <div class="subscription-input">
            <input class="submit-input" type="email" id="email" name="email" placeholder="Enter your email">
            <input class="submit-button" type="submit" value="Subscribe">
        </div>
        <span class="sub-message">By clicking the 'Send message' button, I agree to the Terms & <br> Conditions and Privacy Policy.</span>
    </div>
</div>