@media (min-width: 1600px) {
    .footer {
        width: auto;
        background-color: var(--second-bg-color);
    }

    .footer-bg {
        max-width: 1600px;
        margin: auto !important;
    }
}

@media (min-width: 1480px) {
    .footer-bg {
        margin: 0;
        flex-direction: row;
    }
}

@media (max-width: 1479px) {
    .footer-bg {
        flex-direction: column;
        padding: 50px;
    }

    .footer-container {
        width: 100%;
    }

    .footer-list {
        width:100% !important;
        height: auto !important; 
        flex-direction: row !important;
        justify-content: space-evenly;
        align-items: center;
        padding: 0; 
    }
    .support {
        flex-direction: row !important;
        width: 100% !important;
        justify-content: space-between;
        align-items: flex-end;
    }

    .subscription {
        width: 100% !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        margin-top: 75px !important;
    }

    .subscription-input {
        justify-content: flex-end;
    }

    .submit-button {
        transform: translate(-1%, 5%) !important;
    }

    .form-container {
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .footer {
        max-width: 100%;
    }

    .footer-bg {
        max-width: 100%;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .footer-list {
        width: 100% !important;
    }

    .support {
        margin-top: 50px !important;
        flex-direction: column !important;
        align-items: center;
    }

    .support > span {
        width: 100%;
        text-align: center;
    }

    .form-container {
        margin: 0;
    }

    .subscription {
        flex-direction: column !important;
        align-items: center;
        gap: 20px;
    }

    .subscription > span {
        text-align: center;
    }

    .subscription-input {
        justify-content: center;
        max-width: 350px;
        margin: auto;
    }

    .submit-button {
        transform: translate(60%, 4%) !important;
    }
}

.footer-container {
    margin-top: 23px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 440px;
    height: 134px;
    margin: auto;
    padding: 0;
}

.footer-bg {
    display: flex;
    justify-content: space-between;
    align-items: baseline;   
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--second-bg-color);
    padding-top: 30px;
    padding-bottom: 50px;
}

.list-item {
    height: 27px;
    padding: 15px;
    margin-bottom: 10px;
}

.list-item > a {
    text-decoration: none;
    color: #fff;
}

.support {
    display: flex;
    flex-direction: column;
    width: 428px;
    margin-top: 23px;
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
}


.mail-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 554px; 
    margin: 0;
    padding: 0;
    gap: 10px;
}

.modal-button {
    margin-top: 30px;
}

.sub-message {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.subscription-input {
display: flex;
}

.submit-input {
    width: 440px;
    height: 50px;
    border-radius: 51px;
    border: none;
    padding: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6B6B6B;
}

.submit-button {
    position: absolute;
    transform: translate(177%, 5%);
    color: var(--bg-color);
    background-color: var(--accent-color);
    border: none;
    width: 158px;
    height: 46px;
    border-radius: 43px;
}