<div class="footer-bg">
    <div class="footer-container">
        <ul class="footer-list">
            <li class="list-item">
                <a routerLink="Home">Home</a>
            </li>
            <li class="list-item">
                <a routerLink="Casinos">Casinos</a>
            </li>
            <li class="list-item">
                <a routerLink="Bonuses & Tournaments">Bonuses & Tournaments</a>
            </li>
            <li class="list-item">
                <a routerLink="Terms & Conditions">Terms & Conditions</a>
            </li>
            <li class="list-item">
                <a routerLink="Privacy Policy">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="support">
        <span>
            If you have any questions, please email us at 
            <a class="mail-link" href="mailto:support@3betup.com">support&#64;3betup.com</a>  
            or 
            <a class="mail-link" href="info@3betup.com">info&#64;3betup.com</a>
        </span>
        <app-modal class="modal-button"></app-modal>
    </div>
    <div class="subscription">
        <span>Stay updated on our last games <br> and bonuses with Three Bet Up</span>
        <form class="subscription-input" method="post">
            <input class="submit-input" type="email" id="email" name="email" placeholder="Enter your email">
            <button class="submit-button" type="submit" value="Subscribe">Subscribe</button>
        </form>
        <span class="sub-message">By clicking the 'Send message' button, I agree to the Terms & <br> Conditions and Privacy Policy.</span>
    </div>
</div>