.page-header {
    display: flex;
    // flex-direction: row;
    align-items: center;
    background-color: var(--second-bg-color);
    width: 1600px;
    margin: auto;
}

.page-logo {
    width: 178px;
    height: 94px;
}

.page-navigation {
    display: flex;
    // flex-direction: row;
    align-items: center;
    // width: auto;
    // height: 27px;
    margin: 0;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    gap: 20px;
}
// .navigation-list {
//     margin-right: 20px;
// }

.routerLink {
    text-decoration: none;
    color: #fff;
}

.active {
    color: var(--secondary-color);
}

header {
    width: 100%;
    background-color: var(--second-bg-color);
}

.pop-up-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: 12%;
    padding: 10px;
}

.close {
    top: 5px;
}

.nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    background-color: #1C1B43;
    border-radius: 32px;
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    transform: translate(-85%, -25%);
}

.nav-menu-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.closeBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15%;
    right: 7%;
}

.nav-menu > button {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 1599px) {
    .page-header {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 1480px) {
    .pop-up-btn {
        display: none;
    }

    .nav-menu {
        display: none;
    }
}

@media (max-width: 1479px) {
    .page-header {
        width: 100%;
        justify-content: space-between;
        padding-right: 10%;
        padding-left: 10%;
    }

    .page-navigation {
        display: none;
    }
}