<header>
    <div class="page-header">
        <img class="page-logo" src="../../../assets/3betup_logo 1.svg" alt="3betup_logo">
        <ul class="page-navigation">
            <li class="navigation-list">
                <a class="routerLink" routerLink="Home" routerLinkActive="active">Home</a>
            </li>
            <li class="navigation-list">
                <a class="routerLink" routerLink="Casinos" routerLinkActive="active">Casinos</a>
            </li>
            <li class="navigation-list">
                <a class="routerLink" routerLink="Bonuses & Tournaments" routerLinkActive="active">Bonuses & Tournament</a>
            </li>
        </ul>
        @if(!isMenuOpen) {
        <button class="pop-up-btn" type="button" (click)="openPop()" >
            <img src="../../../assets/pop-upMenu.svg" alt="Open pop-up Menu">
        </button>
    }
        <div class="popup-menu" >
            <div class="nav-menu overflow-hidden" [@openClose]="isMenuOpen ? 'open' : 'close'">
                <div class="p-3">
                    <button class="pop-up-btn" type="button"><img src="../../../assets/Vector.svg" alt="close menu" (click)="closePop()"></button>
                    <div (click)="navClickHome()" class="pop-up-link">Home</div>
                    <div (click)="navClickCasinos()" class="pop-up-link">Casinos</div>
                    <div (click)="navClickBonuses()" class="pop-up-link">Bonuses & Totnaments</div>
                </div>
            </div>
        </div>
    </div>
</header>