.page-header {
    display: flex;
    // flex-direction: row;
    align-items: center;
    background-color: var(--second-bg-color);
    width: 1600px;
    margin: auto;
}

.page-logo {
    width: 178px;
    height: 94px;
}

.page-navigation {
    display: flex;
    // flex-direction: row;
    align-items: center;
    // width: auto;
    // height: 27px;
    margin: 0;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    gap: 20px;
}
// .navigation-list {
//     margin-right: 20px;
// }

.routerLink {
    text-decoration: none;
    color: #fff;
}

.active {
    color: var(--secondary-color);
}

header {
    width: 100%;
    background-color: var(--second-bg-color);
}