<div class="page-header">
    <img class="page-logo" src="../../../assets/3betup_logo 1.svg" alt="3betup_logo">
    <ul class="page-navigation">
        <li class="navigation-list">
            <a class="routerLink" routerLink="Home" routerLinkActive="active">Home</a>
        </li>
        <li class="navigation-list">
            <a class="routerLink" routerLink="Casinos" routerLinkActive="active">Casinos</a>
        </li>
        <li class="navigation-list">
            <a class="routerLink" routerLink="Bonuses & Tournaments" routerLinkActive="active">Bonuses & Tournament</a>
        </li>
    </ul>
</div>