ul > li {
    list-style: none;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #A4AAF8;
    --accent-color: #FF7300;
    --bg-color: #151531;
    --second-bg-color: #1C1B43; 
}

body {
    background-color: var(--bg-color);
    height: auto;
}

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    font-family: "Poppins", sans-serif !important;
}

.mat-typography {
    font-family: "Poppins", sans-serif !important;
}