.mainSectionHeading {
  display: flex;
  color: #fff;
  justify-content: center;
  width: 1600px;
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.position-container {
  display: flex; 
  width: 1600px;
  flex-wrap: wrap;
} 

.container:nth-child(odd) {
  margin-right: 22px;
}

.container {  
  display: grid;
  justify-content: space-between;
  width: 774px;
  grid-template-columns: 132px 570px;
  grid-template-rows: 177px auto;
  gap: 16px 0;
  grid-auto-flow: row;
  grid-template-areas:
    "casinoType aboutCasino"
    "casinoType paymentSection"; 
  background-color: var(--second-bg-color);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 32px;
}

.casinoType { 
  grid-area: casinoType;
  height: 254px;
}

.aboutCasino { 
  grid-area: aboutCasino;
  height: 177px;
  color: #fff;
}

.aboutCasino > h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.aboutCasino > ul {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.aboutCasino > ul > li:not(:last-child) {
  margin-bottom: 12px;
}

.aboutCasino > ul > li > img {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.paymentSection { 
  grid-area: paymentSection;
 }

 .paymentSection > h2 {
  grid-area: h2;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
 }

 .paymentSection-showmore {
  grid-area: paymentSection-showmore;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
 }

 
.casino-container {  
  display: grid;
  grid-template-columns: 132px;
  grid-template-rows: 126px 21px 44px;
  gap: 13px 0;
  grid-template-areas:
    "logo"
    "ratings"
    "buttonVisit";
}

.logo { 
  grid-area: logo;
  width: 132px;
  height: 126px;
  border-radius: 10px;
  padding: 30px, 26px, 30px, 26px;
  gap: 10px;
  background-color: #323082;
  align-content: center;
  text-align: center;
}

.ratings {
  grid-area: ratings;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.rating { 
  font-weight: 600;
  font-size: 14px;
  line-height: 21px; 
  color: #fff;
}

.buttonVisit { 
  grid-area: buttonVisit;
}

.buttonVisit > button {
  width: 132px;
  height: 44px;
  padding: 6px 24px 6px 24px;
  border: none;
  border-radius: 32px;
  background: #FF7300;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 37px;
}

.buttonVisit > button > a {
  text-decoration: none;
  color: #151531;
}

.paymentsBtn {
  width: 80px;
  height: 21px;
  background-color: transparent;
  color: #1885E9 ;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-wrap: nowrap;
  border: none;
}

.paymentMethod {
  background-color: #21215E;
  border-radius: 22px;
  width: 76px;
  height: 29px;
}

.paymentMethods {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}