.container {  display: grid;
  grid-template-columns: 132px 570px 570px;
  grid-template-rows: 254px 177px 65px;
  gap: 20px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "casino aboutCasino aboutCasino"
    "casino aboutCasino aboutCasino"
    "casino paymentSection paymentSection";
}

.casinoType { grid-area: casino; }

.aboutCasino { 
  grid-area: aboutCasino;
  width: 292px;
  height: 177px;
}

.paymentSection { grid-area: paymentSection; }

.casino-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo logo ."
    "rating starRating ."
    "buttonVisit buttonVisit .";
}

.logo { grid-area: logo; }

.rating { grid-area: rating; }

.starRating { grid-area: starRating; }

.buttonVisit { grid-area: buttonVisit; }
