<h2 class='mainSectionHeading'>Top Casinos</h2>
  <div class="position-container">
    <div class="container" *ngFor="let casino of casinoes">
    <div class="casinoType">
      <div class="casino-container">
        <div class="logo"><img [src]="casino.logo"></div>
        <div class="ratings">
        <div class="rating">{{casino.rating}}</div>
        <div class="starRating"><img width="70px" height="13px" [src]="casino.starRating"></div>
        </div>
        <div class="buttonVisit"><button><a [href]="casino.link">Visit casino</a></button></div>
        </div>
      </div>
      <div class="aboutCasino">
        <h2>{{casino.aboutHeading}}</h2>
        <ul>
          <li>
            <img width="17px" height="18px" src="../../assets/bonuss.svg" alt="">
            <span>{{casino.aboutOptionsBonuss}}</span>
          </li>
          <li>
            <img width="17.5px" height="17.5px" src="../../assets/clock.svg" alt="">
            <span>{{casino.aboutOptionsWithdraw}}</span>
          </li>
          <li>
            <img width="20px" height="20px" src="../../assets/withdraw.svg" alt="">
            <span>{{casino.aboutOptionsDaily}}</span>
          </li>
          <li>
            <img width="16px" height="16px" src="../../assets/chat.svg" alt="">
            <span>{{casino.aboutOptionsChat}}</span>
          </li>
        </ul>
      </div>
      <div class="paymentSection">
        <h2>{{casino.paymentHeading}}</h2>
        <button (click)="expandPayments()">Show more</button>
        <ul class="paymentMethods">
          @for (payment of payments; track paymentIndex) {
            <li>
              <a href=""><img [src]="payment.logo" alt="{{payment.name}}" class="paymentBank"></a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>