.mainSectionHeading {
  display: flex;
  color: #fff;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.position-container {
  display: flex; 
  width: 100%;
  flex-wrap: wrap;
} 

.splitContainer {
  display: flex;
  flex-direction: column;
}

.container:nth-child(odd) {
  margin-right: 1.375rem;
}

.container {
  width: calc((100% - 3.25rem)/2);
  display: flex;
  gap: 1rem;
  background-color: var(--second-bg-color);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 2rem;
}

.aboutCasino { 
  color: #fff;
}

.aboutCasino > h2 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

.aboutCasino > ul {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0;
}

.aboutCasino > ul > li:not(:last-child) {
  margin-bottom: .75rem;
}

.aboutCasino > ul > li > img {
  margin-right: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
}

.paymentSection {
  max-width: 29.4375rem;
}

 .paymentSection > h2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
 }

 .paymentSection-showmore {
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.3125rem;
  text-decoration: none;
 }

 .casinoType {
  flex-direction: column;
 }

.logo { 
  width: 8.25rem;
  height: 7.875rem;
  border-radius: .625rem;
  padding: 1.875rem, 1.625rem, 1.875rem, 1.625rem;
  gap: .625rem;
  background-color: #323082;
  align-content: center;
  text-align: center;
}

.ratings {
  align-items: flex-start;
  margin-top: 1rem;
  padding: 0 1rem;
}

.rating { 
  font-weight: 600;
  font-size: 14px;
  line-height: 21px; 
  color: #fff;
}


.buttonVisit > button {
  width: 8.25rem;
  height: 2.75rem;
  padding: .375rem 1.5rem .375rem 1.5rem;
  border: none;
  border-radius: 32px;
  background: #FF7300;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 2.3125rem;
}

.buttonVisit > button > a {
  text-decoration: none;
  color: #151531;
}

.paymentsBtn {
  width: 5rem;
  height: 1.3125rem;
  background-color: transparent;
  color: #1885E9 ;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-wrap: nowrap;
  border: none;
}

.paymentMethod {
  background-color: #21215E;
  border-radius: 22px;
  width: 4.75rem;
  height: 1.8125rem;
}

.paymentMethods {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

@media (max-width: 1479px) {
  .position-container {
    flex-direction: column;
  }

  .container {
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
  }

  .splitContainer {
    width: 100%;
  }

  .paymentSection {
    max-width: 100%;
  }

  .paymentMethod {
    width: 16.3%;
  }

  .container:nth-child(odd) {
    margin-right: 1.375rem;
  }
}
