<!-- <div class="container">
  <div class="casinoType" *ngFor="let casino of casinoes">
    <div class="casino-container">
        <div class="logo"><img [src]="casino.logo"></div>
        <div class="rating">{{casino.rating}}</div>
        <div class="starRating"><img [src]="casino.starRating"></div>
        <div class="buttonVisit"><button>Visit casino</button></div>
      </div>
  </div>
  <div class="aboutCasino" *ngFor="let casino of casinoes">
    <h2>{{casino.aboutHeading}}</h2>
    <ul>
        <li>
            <img src="" alt="">
            <span>{{casino.aboutOptionsBonuss}}</span>
        </li>
        <li>
            <img src="" alt="">
            <span>{{casino.aboutOptionsWithdraw}}</span>
        </li>
        <li>
            <img src="" alt="">
            <span>{{casino.aboutOptionsDaily}}</span>
        </li>
        <li>
            <img src="" alt="">
            <span>{{casino.aboutOptionsChat}}</span>
        </li>
    </ul>
  </div>
  <div class="paymentSection" *ngFor="let casino of casinoes">
    <h2>{{casino.paymentHeading}}</h2>
    <ul>
        <li><img [src]="casino.paymentRapid" alt="Rapid"></li>
        <li>{{casino.paymentRevolut}}</li>
        <li>{{casino.paymentAstropay}}</li>
        <li>{{casino.paymentDE}}</li>
        <li>{{casino.paymentCitadele}}</li>
        <li>{{casino.paymentBitcoin}}</li>
    </ul>
  </div>
</div> -->

