.recommended {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.recommended > h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mr-20 {
    margin-right: 20px;
}

.rec-btn {
    margin-left: calc(((100%) - 147px)/2);
    width: 147px;
    height: 47px;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    gap: 10px;
    border: none;
    background-color: #5C67ED;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 50px;
}

@media (max-width: 576px) {
    .mb-16 {
        margin-bottom: 16px;
    }
}