<article class="recommended">
    <h3>Recommended Casinos</h3>
    <ul>
        <li>
            <ul class="sublist">
                <li><img width="74" height="39" class="sublist-logos" src="../../../../assets/RoySpins.svg" alt=""></li>
                <li>Royspins</li>
                <li>9/10</li>
                <li><img src="../../../../assets/rating.svg" alt=""></li>
                <li>"Revolutionary transparency for the players"</li>
            </ul>
        </li>
        <li>
            <ul class="sublist">
               <li> <img width="64" height="59" class="sublist-logos" src="../../../../assets/BIA.svg" alt=""></li>
                <li>BetitAll</li>
                <li>8.9/10</li>
                <li><img src="../../../../assets/rating.svg" alt=""></li>
                <li>“ Some sentence about this casino, this might be some feedback from the user.”</li>
            </ul>
        </li>
        <li>
            <ul class="sublist">
                <li><img width="70" height="63" class="sublist-logos" src="../../../../assets/pledoo.svg" alt=""></li>
                <li>Pledoo</li>
                <li>9/10</li>
                <li><img src="../../../../assets/rating.svg" alt=""></li>
                <li>“ Some sentence about this casino, this might be some feedback from the user.”</li>
            </ul>
        </li>
        <li>
            <ul class="sublist">
                <li><img width="73" height="67.33" class="sublist-logos" src="../../../../assets/Wazbee.svg" alt=""></li>
                <li>Wazbee</li>
                <li>9.2/10</li>
                <li><img src="../../../../assets/rating.svg" alt=""></li>
                <li>“ Some sentence about this casino, this might be some feedback from the user.”</li>
            </ul>
        </li>
    </ul>
    <button class="rec-btn">See more</button>
</article>